body {
    display:flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: wheat;
}

ul {
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 0;
    gap: 12px;
    flex: 1;
}

button {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: #3882F6;
    color: wheat;
}

.banner {
    background-color: #1F2937;
    color: wheat;
    padding: 0px 180px;
}

.header,
.signup-screen,
.signup-banner,
.info {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display:flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
}

.header-logo {
    margin: 0px;
    padding: 0px;
}

.signup-screen {
    display:flex;
    padding: 200px 0px;
    gap: 50px;
}

.signup-screen img {
    max-height: auto;
    max-width: 45%;
    border-radius: 25px;
}

.signup-text {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-text h1,
.signup-text p{
    margin: 0px;
}

.signup-text h1 {
    font-size: 48px;
    font-weight: bolder;
}

.signup-text button{
    max-width: 20%;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 68px;
    margin-bottom: 80px;
}

.card {
    text-align: center;
    max-width: 200px;
}

.card img {
    max-width: 100%;
    max-height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}